body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Edu SA Hand';
  margin: 0;
  padding: 0;
  * {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

/* HEADER */
header {
  background-color: #6de2ff;
  height: 10vh;
  * {
    margin: 0;
  }
}
#search-bar {
  background-color: #fff;
  border-radius: 10px;
  height: 6vh;
  width: calc(15vw + 20vh);;
}
#search-bar:has(#search-field:focus) {
  box-shadow: 0 0 8px 2px #05deab;
  transition: box-shadow 0.3s;
}
#search-field {
  border: none;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  font-family: 'Edu SA Hand';
  height: 100%;
  padding: 5%;
  width: calc(100% - 20px);
}
.text-field:focus {
  outline: none;
}
#search-icon {
  width: 30px;
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}

/* MAIN */
main {
  align-content: flex-start;
  align-items: center;
  background-image: url('./images/background.png');
  background-size:contain;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: center;
}
.subsection {
  display: block;
}
#title {
  font-size: calc(2vw + 3vh);
  font-weight: 400;
  margin-bottom: 20px;
  white-space: nowrap;
  width: 100%;
}
#empty-section {
  background-color: #ffffffc5;
  border: solid 5px #aaffff;
  border-radius: 20px;
  width: calc(30vw + 20vh);
}
#main-section {
  display: block;
  text-align: center;
  width: calc(45vw + 100px);
  width: calc(40vw + 30vh);
  *:not(hr) {
    margin: 0;
  }

}
#main-forecast {
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 !important;
  padding: 5%;
  width: 100%;
}
#forecast-subsection {
  display: block;
}
#forecast-icon {
  background-color: #91ade6;
  /* border: 10px solid #6de2ff; */
  border-radius: 100%;
  width: 23%;
}
#status-label {
  font-size: calc(2vw + 2vh);
}
#status {
  font-size: calc(3vw + 20px);
  font-weight: 700;
  white-space: nowrap;
}
#location {
  font-size: 1.5em;
  margin-bottom: 20px;
}
#tempreature-wrapper {
  border-radius: 20px;
  display: block;
  height: fit-content;
  padding: 3%;
}
.temperature-icon {
  display: inline;
  width: 30px;
}
#temperature-heading {
  display: inline;
  font-weight: 500;
  height: 20%;
  margin: 0;
}
#temperature-subsection {
  height: 80%;
  flex-wrap: wrap;
  gap: 10% !important;
  justify-content: space-evenly;
}
.temperaure-subwrapper {
  min-width: 20%;
}
#feel-icon{
  margin-right: 5px !important;
  width: 23px;
}
@media screen and (max-width:930px) {
  main {
    background-size:cover;
  }
  .temperaure-subwrapper {
    margin: 5px auto !important;
    width: 80%;
  }
}
